<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${studentlist}" class="container my-5">
                <p class="my-5">
                    <a href="/edit" class="btn btn-primary">
                        <i class="fas fa-user-plus ml-2"> Add Employee </i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:if="${studentlist.empty}">No record found !!</h2>
                    <div>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>address</th>
                                <th>password</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="student :${studentlist}">
                                <td th:text="${student.name}"></td>
                                <td th:text="${student.lastName}"></td>
                                <td th:text="${student.address}"></td>
                                <td th:text="${student.email}"></td>
                                <td th:text="${student.password}"></td>
                                <td>
                                    <a th:href="@{/edit/{id}(id=${student.id})}"
                                       class="btn btn-success">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/delete-student/{id}(id=${student.id})}"
                                       class="btn btn-danger">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>